[database]
;dsn (http://pear.php.net/manual/en/package.database.db.intro-dsn.php)
;examples:
;  MySQL  (mysql:host=HOST;dbname=DBNAME)
;  SQLite (sqlite:/path/to/db.sq3)
;  ...
dsn         = "mysql:host=HOST;dbname=DBNAME"
; user (optional)
user        = "USER"
; password (optional)
password    = "PASS"
; database charset
charset     = "utf8"

[app]
; Base title
title               = "Open Player"
; Page charset
charset             = "UTF-8"
; Base url
baseUrl             = "http://Your.Open.Player.Url"
; Results per page
resultsPerPage      = 15
; Suggestion count
suggestionCount     = 10
; Search history length
historyLength       = 5
; Google analytics id
GoogleAnalytics     = ""

;default language
defLang = "ru"
; available languages
availableLangs[] = "ru"
availableLangs[] = "ua"
availableLangs[] = "en"
availableLangs[] = "de"

;SEO catalog size
catalogSize     = 50
catalogColumns  = 3

sape = ''

[vk]
; Parser UserAgent (List popular http://www.user-agents.org)
userAgent      = "Mozilla/5.0 (Windows; U; Windows NT 6.0; ru; rv:1.9.2.13) Gecko/20101203 Firefox/3.6.13 ( .NET CLR 3.5.30729)"
; You need to create Standalone-application (http://vk.com/apps.php?act=add)
appId= 2802695

; Vkontakte email
login[0]       = "YourVkontakteEmail"
; Vkontakte password
password[0]    = "YourVkontaktePassword"

; You can set *non limited* multiple VK accounts by adding 
; id[1], ligin[1], password[1], ... options. 
; Recommend for high load players

[client] ; js settings
; Ajax suggest
suggest         = true 

[widgets]
; Tracks
socialButtons   = true
downloadTrack   = true
directLink      = true

; Search
lastSearches    = true
recommendations = false ;false - recommend

; Footer
languages       = true
discussLinks    = true
friends         = true
donate          = true

; Extra
slidingPlaylist = false
showCatalog     = true
allowEmbed      = true

[cache]
cacheSearch = true
cacheSearchTime = 86400 ;seconds (24 hrs) Notice: links can die if time is big, recommend time - less than 24 hrs

cacheSongs = false ; Recommend to false, it does not legal to store music, does not *yet* have memory limit